<% content_for :title, "#{@record.name} - #{t('.title')}" %>

<div class="row mb-3">
  <div class="col">
    <%= link_to customers_path, class: "btn btn-outline-secondary" do %>
      <i class="bi bi-arrow-left"></i> <%= t('.back') %>
    <% end %>
  </div>
  <div class="col text-end">
    <%= button_to customer_path(@record), method: :delete, class: "btn btn-danger", data: { turbo_confirm: t('.delete_confirm') } do %>
      <i class="bi bi-trash"></i> <%= t('.delete') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'details', customer: @record %>
  </div>

  <div class="col-md-4">
    <%= render 'processing_history', parser_records: @parser_records %>
  </div>
</div>
